[run]
source = .
omit =
    */migrations/*
    */tests/*
    */admin.py
    */settings.py
    */wsgi.py
    */asgi.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = true
