{% extends 'base.html' %}

{% block title %}Select Package{% endblock %}

{% block content %}
    <h1>Select a Package for {{ race.race_type.name }} - {{ race.race_km }} KM</h1>
    <ul class="list-group">
        {% for package in packages %}
        <li class="list-group-item"><a href="{% url 'athlete_registration' package.id %}?race_id={{ race.id }}">{{ package.name }} - ${{ package.price }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'race_selection' race.event.id %}" class="btn btn-secondary mt-3">Back to Races</a>
{% endblock %}